.footer {
  background: linear-gradient(#f39842,#edb25a);
  color: black;
  padding: 30px 20px;
  width: 100%; /* fix horizontal scroll */
  margin: 0;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section {
  min-width: 200px;
  margin: 10px 0;
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.footer-section p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: white;
  font-size: 10px;
  margin: 0;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover { color: black; }

hr {
  border: 0.5px solid black;
  margin: 10px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
}
