.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#f39842,#edb25a);
  padding: 5px 20px;
  color: black;
  font-weight: 600;
  height: 80px;
  box-sizing: border-box;
  width: 100%; /* fix horizontal scroll */
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  transform: scale(2.5);
  transform-origin: left center;
  position: relative;
  left: 10px;
  top: 5px; 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-links li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.nav-links li:hover { color: #a52a2a; }

.nav-links li img.nav-icon {
  width: 20px;
  height: 20px;
}

.nav-buttons button {
  margin-left: 10px;
}

.signup {
  background-color: #BA0000;
  color: #FFECC8;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.signup:hover {
  background-color: #FBB44C;
  color: #BA0000;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.signin {
  background-color: transparent;
  border: 1.5px solid #BA0000;
  color: #BA0000;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.signin:hover {
  background-color: #BA0000;
  color: #FBB44C;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-links a:visited { color: inherit; }
.nav-links a:hover { color: inherit; }
